body{
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
h1{
    text-align: center;
}
.square{
    border: 1px solid #999;
    font-size: 54px;
    font-weight: bold;
    line-height: 102px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    height: 100px;
}

.game-field{
    margin: 0 auto;
    width: 300px;
}

.board-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}